@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* fixes */

:root {
  --body-hor-padding: 70px;
  --nav-link-hor-padding: 16px;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Общие стили для обеих страниц */

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;

}

.clickable-block {
  display: inline-block;
  width: auto;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
  border: none;

  transition: 0.3s;
}

.clickable-block:hover {
  cursor: pointer;
}

.clickable-block:disabled {
  background-color: #e5e5e5;
}

.clickable-block-default:hover {
  background-color: #615048;
}

.clickable-block-default:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-inverted {
  background-color: #82b3d3;
}

.clickable-block-inverted:hover {
  background-color: #68a2c2;
}

.clickable-block-inverted:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-success {
  background-color: #7db54f;
}

.clickable-block-success:hover {
  background-color: #6c9e42;
}

.clickable-block-success:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-transparent {
  background-color: transparent;
}

.clickable-block-transparent:hover {
  opacity: 0.6;
}

.clickable-block-transparent:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.clickable-block-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-transparent:disabled {
  opacity: 0.1;
}

.section-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subsection-title {
  margin-top: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subsection-description {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.section-description-inverted,
.subsection-description-inverted,
.section-title-inverted,
.subsection-title-inverted {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Хэдер */

.page-header {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--body-hor-padding);
}

.logo-link {
  align-self: flex-start;
  margin-right: 30px;
}

.logo-image {
  display: block;
  margin-bottom: -6px;

  transition: 0.3s;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.9;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.8;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.site-pages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style-type: none;
}

.site-pages-link {
  display: block;
  padding: 20px var(--nav-link-hor-padding);

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.site-pages-link:hover,
.site-pages-link:focus {
  color: #756157;
}

.site-pages-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-pages-link-current {
  position: relative;
}

.site-pages-link-current::after {
  position: absolute;
  content: "";
  left: var(--nav-link-hor-padding);
  bottom: -1px;

  width: calc(100% - 2 * var(--nav-link-hor-padding));
  height: 2px;

  background-color: #756257;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 320px;

  list-style-type: none;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user-menu-item {
  display: flex;
  min-width: 44px;
}

.user-menu-item:last-of-type {
  margin-left: 20px;
}

.user-menu-link {
  width: 100%;
}

.user-menu-icon:hover,
.user-menu-icon:focus {
  opacity: 0.6;
}

.user-menu-icon:active {
  opacity: 0.3;
}

.user-menu-catalog-link {
  display: block;
  align-self: center;
  padding-left: 34px;
  padding-right: 34px;

  font-size: 16px;
  line-height: 20px;

  /* transition: 0.3s; */
}

.user-menu-search {
  background: url("../images/icons/search-icon.svg") no-repeat center;
}

.user-menu-favourites {
  position: relative;

  background: url("../images/icons/favourite-icon.svg") no-repeat center;
}

.hotels-number {
  position: absolute;
  top: 9px;
  right: 5px;

  width: 20px;
  height: 20px;

  font-size: 10px;
  color: #ffffff;
  text-align: center;

  background-color: #7db54f;
  border-radius: 50%;
}


/* Основная часть */

.main-part {
  flex-grow: 1;
}

/* Футер */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px var(--body-hor-padding) 35px;
}

.social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}


.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
  display: block;
  width: 115px;
  height: 33px;
}

.developer-link::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  -webkit-mask: url("../images/icons/html-academy-logo.svg") no-repeat center;
  mask: url("../images/icons/html-academy-logo.svg") no-repeat center;
  background-color: black;
  background-size: contain;
}

.developer-link:hover::before,
.developer-link:focus::before {
  background-color: #756157;
}

.developer-link:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

/* Главная страница */
/* Hero */

.hero {
  width: 100%;
  height: 485px;
  padding-top: 51px;

  color: white;
  background:
    url("../images/hero-bottom-border.svg") no-repeat center 100%,
    url("../images/hero-bg.jpg") no-repeat center;
  background-size: 100%, cover;
  background-color: black;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.about-sedona {
  padding: 69px 270px 90px;
}

.about-sedona-title {
  margin-bottom: 25px;
}


/* Преимущества */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 385px);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 385px;
  padding: 112.5px 85px;
}

.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-illustrated {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;

  background-color: #82b3d3;
}

.advantages-item-illustrated:last-of-type {
  grid-template-columns: 2fr 1fr;
}

.advantages-item-illustrated:last-of-type .advantages-item-pic {
  order: -1;
}

.advantages-item-title {
  position: relative;

  margin-bottom: 62px;
}

.advantages-item-title::after {
  position: absolute;
  display: block;
  content: "";

  bottom: -30px;
  left: calc(50% - 30px);

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-illustrated .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  /* margin-top: 0; */
}

/* Приглашение */

.invitation {
  padding: 64px 270px;
}

.invitation-title {
  margin-bottom: 20px;
}

.invitation-description {}

/* Сервисы */

.features-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features-item {
  flex-basis: 400px;
}

.features-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.features-item-title::before {
  content: "";
  width: 76px;
  height: 76px;
  margin-bottom: 30px;

  background: url("../images/icons/services-house.svg") no-repeat center;
}

.features-item:nth-of-type(2) .features-item-title::before {
  background-image: url("../images/icons/services-food.svg");
}

.features-item:nth-of-type(3) .features-item-title::before {
  background-image: url("../images/icons/services-gifts.svg");
}

.features-item-description {}


/* Подписка */



/* CTA */

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.cta-title {
  margin-bottom: 20px;
}

.cta-description {
  margin-bottom: 54px;
}

.cta-btn {
  padding-left: 50px;
  padding-right: 50px;

  font-size: 20px;
  line-height: 36px;
}

/* Подписка */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;

  background: blue url("../images/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
}

.subscription-transparent {
  background: none;
}

.subscription-title {
  margin-bottom: 20px;
}

.subscription-description {
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  width: 100%;
}

.subscription-email-input {
  padding: 14px 20px;

  flex-grow: 1;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;

  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-email-input-dark {
  background: #f2f2f2;
}

.subscription-email-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscription-submit-btn {
  border-radius: 0 4px 4px 0;
}

/* Страница каталога */
/* Настройки поиска */

.settings {
  padding: 35px 70px 70px;

  color: #ffffff;

  background: lightblue url("../images/filter-bg.jpg") no-repeat center;
  background-size: cover;
}

.settings-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  gap: 28px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  left: 24px;

  width: 7px;
  height: 10px;

  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat center;
}

.breadcrumbs-link {
  display: inline-block;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.settings-form {
  display: flex;
}

.settings-group {
  margin: 0;
  padding: 0;
  border: none;
}

.settings-group-title {
  margin-bottom: 32px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.settings-services {
  margin-right: 70px;
}

.settings-house-type {
  margin-right: 140px;
}

.settings-services-label,
.settings-house-type-label {
  position: relative;

  display: block;
  padding-left: 36px;

  font-size: 18px;
  line-height: 23px;
}

.settings-services-label:not(:last-of-type),
.settings-house-type-label:not(:last-of-type) {
  margin-bottom: 16px;
}

.settings-services-checkbox,
.settings-house-type-radio {
  display: none;
}

.settings-services-label::before,
.settings-house-type-label::before {
  position: absolute;
  content: "";
  top: 1.5px;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 4px;
}

.settings-house-type-label::before {
  border-radius: 50%;
}

.settings-price {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}

.settings-price-inputs {
  display: flex;
}

.settings-price-input {
  width: 143px;
  padding: 12px 20px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: none;
}

.settings-price-input:first-of-type {
  margin-right: 2px;

  border-radius: 4px 0 0 4px;
}

.settings-price-input:last-of-type {
  margin-right: 2px;

  border-radius: 0 4px 4px 0;
}

.settings-price-slider {
  width: 288px;
  margin: 0;
  margin-top: auto;
}

.settings-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.settings-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.settings-form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.hotels {
  padding: 50px 70px 60px;
}

.hotels-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-title {
  margin-right: auto;
}

.view-settings-select {
  width: 292px;
  margin-right: 70px;
  padding: 14px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.view-types-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.view-types-item {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

.hotels-list {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style-type: none;
}

.hotels-list::after {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #E6E6E6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 20px;
  padding: 20px;

  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;

  color: #000000;
  text-decoration: none;
}

.hotel-card-name {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-clickable-block {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  justify-self: end;
}

.hotel-card-stars {
  margin: 0;
}

.hotel-card-rating {
  margin: 0;
  padding: 8px 0 9px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  color: #ffffff;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-item-dots {
  background-color: transparent;
}

.pagination-item-current .pagination-link,
.pagination-item-dots .pagination-link {
  color: #000000;
}
