@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* fixes */

:root {
  --body-hor-padding: 70px;
  --nav-link-hor-padding: 16px;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Общие стили для обеих страниц */

body {
  height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #f2f2f2;

}

.clickable-block {
  display: inline-block;
  width: auto;
  padding: 8px 50px;

  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
  border: none;

  transition: background-color 0.3s;
}

.clickable-block:hover {
  cursor: pointer;
}

.clickable-block:disabled {
  background-color: #e5e5e5;
}

.clickable-block-default:hover {
  background-color: #615048;
}

.clickable-block-default:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-inverted {
  background-color: #82b3d3;
}

.clickable-block-inverted:hover {
  background-color: #68a2c2;
}

.clickable-block-inverted:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-success {
  background-color: #7db54f;
}

.clickable-block-success:hover {
  background-color: #6c9e42;
}

.clickable-block-success:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-transparent {
  background-color: transparent;
}

.clickable-block-transparent:hover {
  opacity: 0.6;
}

.clickable-block-transparent:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  /* outline: none; */
}

.clickable-block-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.clickable-block-transparent:disabled {
  opacity: 0.1;
}

.section-title {
  margin: 0;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subsection-title {
  margin-top: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subsection-description {
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.section-description-inverted,
.subsection-description-inverted,
.section-title-inverted,
.subsection-title-inverted {
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Хэдер */

.page-header {
  position: relative;

  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--body-hor-padding);
}

.logo-link {
  align-self: flex-start;
  margin-right: 30px;
}

.logo-image {
  display: block;
  margin-bottom: -6px;

  transition: 0.3s;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.9;
}

.logo-image:hover,
.logo-image:focus {
  opacity: 0.8;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.site-pages-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0;
  margin-right: auto;
  padding: 0;

  list-style-type: none;
}

.site-pages-link {
  display: block;
  padding: 20px var(--nav-link-hor-padding);

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.site-pages-link:hover,
.site-pages-link:focus {
  color: #756157;
}

.site-pages-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.site-pages-link-current {
  position: relative;
}

.site-pages-link-current::after {
  position: absolute;
  content: "";
  left: var(--nav-link-hor-padding);
  bottom: -1px;

  width: calc(100% - 2 * var(--nav-link-hor-padding));
  height: 2px;

  background-color: #756257;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 320px;

  list-style-type: none;
}

.user-menu-list {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user-menu-item {
  display: flex;
  min-width: 44px;
}

.user-menu-item:last-of-type {
  margin-left: 20px;
}

.user-menu-link {
  width: 100%;
}

.user-menu-icon:hover,
.user-menu-icon:focus {
  opacity: 0.6;
}

.user-menu-icon:active {
  opacity: 0.3;
}

.user-menu-catalog-link {
  display: block;
  align-self: center;
  padding-left: 34px;
  padding-right: 34px;

  font-size: 16px;
  line-height: 20px;

  /* transition: 0.3s; */
}

.user-menu-search {
  background: url("../images/icons/search-icon.svg") no-repeat center;
}

.user-menu-favourites {
  position: relative;

  background: url("../images/icons/favourite-icon.svg") no-repeat center;
}

.hotels-number {
  position: absolute;
  top: 9px;
  right: 5px;

  width: 20px;
  height: 20px;

  font-size: 10px;
  color: #ffffff;
  text-align: center;

  background-color: #7db54f;
  border-radius: 50%;
}


/* Основная часть */

.main-part {
  flex-grow: 1;
}

/* Футер */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px var(--body-hor-padding) 35px;
}

.social-links {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;
}

.social-link::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  -webkit-mask: no-repeat center;
  mask: no-repeat center;
  background-color: #83b3d3;
}

.social-link:hover::before,
.social-link:focus::before {
  background-color: #68a2ca;
}

.social-link:active::before {
  background-color: rgba(104, 162, 202, 0.3);
}

.social-vk::before {
  -webkit-mask-image: url("../images/icons/vk.svg");
  mask-image: url("../images/icons/vk.svg");
}

.social-tg::before {
  -webkit-mask-image: url("../images/icons/telegram.svg");
  mask-image: url("../images/icons/telegram.svg");
}

.social-yt::before {
  -webkit-mask-image: url("../images/icons/youtube.svg");
  mask-image: url("../images/icons/youtube.svg");
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer-link {
  display: block;
  width: 115px;
  height: 33px;
}

.developer-link::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  -webkit-mask: url("../images/icons/html-academy-logo.svg") no-repeat center;
  mask: url("../images/icons/html-academy-logo.svg") no-repeat center;
  background-color: #000000;
  background-size: contain;
}

.developer-link:hover::before,
.developer-link:focus::before {
  background-color: #756157;
}

.developer-link:active::before {
  background-color: rgba(117, 97, 87, 0.3);
}

/* Главная страница */
/* Hero */

.hero {
  width: 100%;
  height: 485px;
  padding-top: 51px;

  color: #ffffff;
  background:
    url("../images/hero-bottom-border.svg") no-repeat center 100%,
    url("../images/hero-bg.jpg") no-repeat center;
  background-size: 100%, cover;
  background-color: #2b5b8d;
}

.hero-text {
  display: block;
  margin: 0 auto;
}

.about-sedona {
  padding: 69px 270px 90px;
}

.about-sedona-title {
  margin-bottom: 25px;
}


/* Преимущества */

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 385px);
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.list-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 385px;
  padding: 112.5px 85px;
}

.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-illustrated {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: 1 / -1;

  background-color: #82b3d3;
}

.advantages-item-illustrated:last-of-type {
  grid-template-columns: 2fr 1fr;
}

.advantages-item-illustrated:last-of-type .advantages-item-pic {
  order: -1;
}

.advantages-item-title {
  position: relative;

  margin-bottom: 62px;
}

.advantages-item-title::after {
  position: absolute;
  display: block;
  content: "";

  bottom: -30px;
  left: calc(50% - 30px);

  width: 60px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-illustrated .advantages-item-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description {
  /* margin-top: 0; */
}

/* Приглашение */

.invitation {
  padding: 64px 270px;
}

.invitation-title {
  margin-bottom: 20px;
}

.invitation-description {}

/* Сервисы */

.features-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.features-item {
  flex-basis: 400px;
}

.features-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.features-item-title::before {
  content: "";
  width: 76px;
  height: 76px;
  margin-bottom: 30px;

  background: url("../images/icons/services-house.svg") no-repeat center;
}

.features-item:nth-of-type(2) .features-item-title::before {
  background-image: url("../images/icons/services-food.svg");
}

.features-item:nth-of-type(3) .features-item-title::before {
  background-image: url("../images/icons/services-gifts.svg");
}

.features-item-description {}


/* Подписка */



/* CTA */

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 304px;
}

.cta-title {
  margin-bottom: 20px;
}

.cta-description {
  margin-bottom: 54px;
}

.cta-btn {
  padding-left: 50px;
  padding-right: 50px;

  font-size: 20px;
  line-height: 36px;
}

/* Подписка */

.subscription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 258px 104px;

  background: blue url("../images/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
}

.subscription-transparent {
  background: none;
}

.subscription-title {
  margin-bottom: 20px;
}

.subscription-description {
  margin-bottom: 54px;
}

.subscription-form {
  display: flex;
  width: 100%;
}

.subscription-email-input {
  padding: 14px 20px;

  flex-grow: 1;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;

  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription-email-input-dark {
  background: #f2f2f2;
}

.subscription-email-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscription-submit-btn {
  border-radius: 0 4px 4px 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;

  background-color: rgba(242, 242, 242, 0.8);
}

.modal-window {
  position: relative;

  width: 717px;
  margin: auto;
  padding: 64px 70px;

  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;

  width: 52px;
  height: 52px;

  background: #f2f2f2 url("../images/icons/modal-close-button.svg") no-repeat center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal-form-fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.modal-form-legend {
  display: none;
}

.modal-inputs-container {
  display: flex;
  align-items: center;
}

.modal-inputs-container:not(:last-of-type) {
  margin-bottom: 48px;
}

.modal-date-label {
  flex-basis: 137px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.modal-date-input-container {
  position: relative;

  flex-grow: 1;
}

.modal-input {
  padding: 12px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;

  background: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.modal-date-input {
  width: 100%;/
}

.modal-date-status {
  position: absolute;
  top: 36px;
  left: 20px;

  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.modal-date-status-error {
  color: #ff5757;
}

.modal-visitors-input {
  -webkit-appearance: textfield;
  appearance: textfield;

  position: relative;

  width: 110px;
  padding-left: 40px;
  padding-right: 40px;

  text-align: center;
}

.modal-visitors-input::-webkit-inner-spin-button,
.modal-visitors-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-visitors-input-container {
  position: relative;
}

.modal-visitors-input-container:not(:last-of-type) {
  margin-right: auto;
}

.modal-visitors-buttons-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.modal-visitors-change-button {
  width: 40px;

  background: transparent no-repeat center;
  border: none;
  cursor: pointer;
}

.modal-visitors-change-button:hover,
.modal-visitors-change-button:focus {
  opacity: 0.5;
}

.modal-visitors-change-button:active {
  opacity: 0.9;
}

.modal-visitors-change-button-minus {
  background-image: url("../images/icons/minus-button.svg");
}

.modal-visitors-change-button-plus {
  background-image: url("../images/icons/plus-button.svg");
}

.modal-kids-grown-ups {
  flex-basis: 225px;
}

.modal-send-button {
  padding: 18px;

  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  background: #83b3d3;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* Страница каталога */
/* Настройки поиска */

.settings {
  padding: 35px 70px 70px;

  color: #ffffff;

  background: lightblue url("../images/filter-bg.jpg") no-repeat center;
  background-size: cover;
}

.settings-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  gap: 28px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  position: absolute;
  content: "";
  top: calc(50% - 5px);
  left: 24px;

  width: 7px;
  height: 10px;

  background: url("../images/icons/breadcrumbs-arrow.svg") no-repeat center;
}

.breadcrumbs-link {
  display: inline-block;

  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home-link:active {
  opacity: 0.3;
}

.settings-form {
  display: flex;
}

.settings-group {
  margin: 0;
  padding: 0;
  border: none;
}

.settings-group-title {
  margin-bottom: 30px;
  padding: 0;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.settings-services {
  margin-right: 70px;
}

.settings-house-type {
  margin-right: 152px;
}

.settings-services-label,
.settings-house-type-label {
  display: block;

  font-size: 18px;
  line-height: 23px;
}

.settings-services-label:not(:last-of-type),
.settings-house-type-label:not(:last-of-type) {
  margin-bottom: 14px;
}

.settings-services-checkbox,
.settings-house-type-radio {
  appearance: none;

  position: relative;
  top: 3px;

  width: 20px;
  height: 20px;
  margin: 0;
  margin-right: 16px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}

.settings-services-checkbox {
  border-radius: 4px;
}

.settings-services-checkbox:checked {
  background-image: url("../images/icons/checkbox-checkmark.svg");
  background-position: 4px 6px;
}

.settings-house-type-radio {
  border-radius: 50%;
}

.settings-house-type-radio:checked {
  background-image: url("../images/icons/radio-circle.svg");
}

.settings-price {
  display: flex;
  flex-direction: column;
  width: 288px;
  margin-right: 70px;
}

.settings-price-inputs {
  display: flex;
}

.settings-price-wrapper {
  position: relative;
}

.settings-price-input {
  -webkit-appearance: textfield;
  appearance: textfield;

  width: 143px;
  height: 48px;
  padding-left: 20px;
  padding-right: 30px;

  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  border: none;
  border-radius: 4px 0 0 4px;
}

.settings-price-input::-webkit-inner-spin-button,
.settings-price-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.settings-price-wrapper:last-of-type .settings-price-input {
  margin-left: 2px;

  border-radius: 0 4px 4px 0;
}

.settings-price-direction {
  position: absolute;
  top: 14px;
  right: 20px;

  font-family: inherit;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.range-full-bar {
  position: relative;

  /* width: 287px; */
  height: 4px;
  margin-bottom: 6px;
  margin-top: auto;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-filled-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 226px;
  height: 4px;

  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 206px;
}

.settings-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}

.settings-button {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;
}

.settings-form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.hotels {
  padding: 50px 70px 60px;
}

.hotels-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-title {
  margin-right: auto;
}

.view-settings-select {
  position: relative;

  width: 292px;
  margin-right: 70px;
  padding: 12px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 21px;

  background: url("../images/icons/arrow-down.svg") no-repeat top 20px right 18px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
}

.view-settings-select:hover,
.view-settings-select:focus {
  outline: none;
  border-color: #68a2ca;
}

.view-settings-select:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
}

.view-types-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.view-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;

  border: 2px solid #E5E5E5;
  border-radius: 4px;
  outline: none;
  user-select: none;
}

.view-type-chosen {
  border-color: #000000;
}

.view-type:hover,
.view-type:active {
  border-color: #000000;
}

.view-type:focus {
  border-color: #68a2ca;
}

.hotels-list {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style-type: none;
}

.hotels-list::after {
  position: absolute;
  content: "";
  bottom: -40px;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 20px;
  padding: 20px;

  outline: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;

  color: #000000;
  text-decoration: none;
}

.hotel-card-image {
  /* display: block; */
  margin-bottom: 16px;
}

.hotel-card-name {
  margin: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-clickable-block {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 8px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  justify-self: end;
}

.hotel-card-stars {
  align-self: center;
  width: 106px;
  height: 18px;
  margin: 0;

  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  background-position: 0 center;
}

.hotel-card-rating {
  margin: 0;
  padding: 8px 0 9px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border-radius: 4px;
}

.one-star {
  width: 18px;
}

.two-stars {
  width: 40px;
}

.three-stars {
  width: 64px;
}

.four-stars {
  width: 88px;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-item-default:hover,
.pagination-item-default:focus {
  background-color: #68a2ca;
  outline: 1px solid #82b3d3;
  outline-offset: -1px;
}

.pagination-item-default:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  color: inherit;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-item-dots {
  font-size: 22px;
  font-weight: 400;

  background-color: transparent;
}

.pagination-item-current .pagination-link,
.pagination-item-dots .pagination-link {
  color: #000000;
}
