@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.navigation a {
  text-decoration: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.clickable-block {
  display: inline-block;
  width: auto;
  padding: 8px 34px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
}

.hero-image {
  width: 100%;
  height: 485px;

  color: white;
  background:
    url("../images/hero-bottom-border.svg") no-repeat center,
    url("../images/hero-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: black;
}

.hero-text {

}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title_small {
  font-size: 24px;
  line-height: 28px;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

.section-description_small {
  font-size: 18px;
  line-height: 21px;
}
