@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;

  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  max-width: 1200px;
}

.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 70px;


  outline: 1px solid black;
}

.logo {
  position: absolute;
  top: 0;
}

.navigation {
  margin-left: 168px;
  margin-right: auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.clickable-block {
  display: inline-block;
  width: auto;
  padding: 8px 34px;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756157;
  border-radius: 4px;
  border: none;
}

.clickable-block-inverted {
  background-color: #82b3d3;
}

.clickable-block-transparent {
  background-color: transparent;
}

.clickable-block-success {
  background-color: #7db54f;
}

.main-part {
  flex-grow: 1;
}

.hero-image {
  width: 100%;
  height: 485px;

  color: white;
  background:
    url("../images/hero-bottom-border.svg") no-repeat center 100%,
    url("../images/hero-bg.jpg") no-repeat center;
  background-size: 100%, cover;
  background-color: black;
}

.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

.subsection-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subsection-description {
  font-size: 18px;
  line-height: 21px;
}

.section-description-inverted,
.subsection-description-inverted,
.section-title-inverted,
.subsection-title-inverted {
  color: #ffffff;
}

.advantages-item:nth-of-type(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-illustrated {
  background-color: #82b3d3;
}

.features-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.subscription {
  background: blue url("../images/subscribe-bg.jpg") no-repeat center;
  background-size: cover;
}

.subscription-transparent {
  background: none;
}

.subscription-email-input {
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.developer-link {
  display: block;
  width: 115px;
  height: 33px;

  background: url("../images/icons/html-academy-logo.svg") no-repeat center;
  background-size: contain;
}

.page-footer {
  /* margin-top: auto; */
}


/* Каталог */

.settings {
  color: #ffffff;

  background: lightblue url("../images/filter-bg.jpg") no-repeat center;
  background-size: cover;
}

.settings-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.settings-form-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.settings-services-label {
  font-size: 18px;
  line-height: 23px;
}

.settings-form-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.view-settings-select {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-link {
  color: #000000;
  text-decoration: none;
}

.hotel-card-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.pagination-item {
  width: 60px;
  height: 60px;

  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;

  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;

  color: #ffffff;
  text-decoration: none;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-item-dots {
  background-color: transparent;
}

.pagination-item-current .pagination-link,
.pagination-item-dots .pagination-link {
  color: #000000;
}
